<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logga in som admin</h1>

    <form action="/adminlogin" method="post">
        <label for="adminName">Användernamn: </label>
        <input type="text" id="adminName" name="adminName">
        <br>
        <label for="input">Lösenord</label>
        <input type="text" id="password" name="password" required>
        <br>
        <button type="submit">Logga in</button>
    </form>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

</body>
</html>