<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>
            <a th:href="@{/}">Hem</a><br>
            <a th:href="@{/memberpublic}">Till medlemssidan</a><br>
        </nav>
    </header>

    <h1>Logga in som admin</h1>

    <form id="loginForm">
        <label for="adminName">Användarnamn: </label>
        <input type="text" id="adminName" required>

        <label for="password">Lösenord: </label>
        <input type="password" id="password" required>

        <button type="submit">Logga in</button>
    </form>

    <div id="error-message"></div>
    <br>

    <!--Många svordommar innan jag lyckades lista ut scriptfilen behöver vara strax innan body slutar för fungera rätt.-->
    <script th:src="@{/script.js}"></script>
</body>
</html>