<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminstart</title>
    <link rel="stylesheet" href="/styleAdmin.css">
</head>
<body>

    <header>
        <nav>
        <a th:href="@{/adminstart}">Adminstratörens startsida</a><br>
        <a th:href="@{/members}">Till medlemssidan med adminbehörighet</a><br>
        <a th:href="@{/form}">Till formuläret för hantera medlemmar</a><br>

        <a href="javascript:void(0)" onclick="logout()">Logga ut</a>
    </nav>
    </header>

    <h1>Adminsida för föreningen Kneeslap</h1>

    <h2>Välkommen till adminsidan </h2> <br>
    <p>Du har nu adminbehörighet </p><br>
    <br>

    <script>
        // Läste att det är bra att börja en login med kolla om personen redan är inloggad. Ergo en if sats. 
        if (localStorage.getItem('isAdminLoggedIn') !== 'true') {
            
            // tydligen gör .replace att man inte kan gå tillbaka hursomhelst
            window.location.replace = '/adminlogin';
        }
    </script>


<script>
    //logutfunktion
    function logout() {
        localStorage.removeItem('isAdminLoggedIn');
        window.location.href = '/adminlogin';
    }
</script>

<script th:src="@{/script.js}"></script>
</body>
</html>