<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Formulär</h1>

    <h2>Lägga till ny medlem</h2>
    Namn<input type="text"><br>
    Ålder <input type="text"><br>
    <button>Lägg till ny medlem</button><br>

    <a th:href="@{/}">Hem</a><br>
    <a th:href="@{/memberlist}">Till medlemssidan</a><br>
    <a th:href="@{form}">Till formuläret</a><br>
    </body>
</html>