<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Formulär</h1>

    <h2>Lägga till ny medlem</h2>

    <div>
        <form method="Post" th:action="@{/create-new-member}" th:object="${member}" >
            <label>Namn:</label> <input type="text" th:field="*{name}"><br>
            <label>Ålder:</label> <input type="text" th:field="*{age}"><br>
            <button type="submit">Lägg till ny medlem</button><br>

        </form>
    </div>

    <a th:href="@{/}">Hem</a><br>
    <a th:href="@{/memberlist}">Till medlemssidan</a><br>
    <a th:href="@{form}">Till formuläret</a><br>
    </body>
</html>