<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
</head>
<body>
    <h1>Välkommen till föreningen "Kneeslap"</h1>

    <h2>Vilka är vi?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime unde aliquam ad architecto dolores necessitatibus porro, repellendus vero maiores distinctio corrupti, ullam molestiae debitis aliquid voluptate molestias labore tempore?</p>

    <a th:href="@{/}">Hem</a><br>
    <a th:href="@{/memberpublic}">Till medlemssidan</a><br>
    <a th:href="@{/adminlogin}">Logga in som Admin</a>
</body>
</html>